@if(this.payroll){
    <mat-list role="list">
        <mat-list-item role="listitem">Gross Annual Salary: {{this.payroll.grossAnnualSalary}}</mat-list-item>
        <mat-list-item role="listitem">Gross Monthly Salary: {{this.payroll.grossMonthlySalary}}</mat-list-item>
        <mat-list-item role="listitem">Net Annual Salary: {{this.payroll.netAnnualSalary}}</mat-list-item>
        <mat-list-item role="listitem">Net Annual Salary: {{this.payroll.netMonthlySalary}}</mat-list-item>
        <mat-list-item role="listitem">Annual Tax Paid: {{this.payroll.annualTaxPaid}}</mat-list-item>
        <mat-list-item role="listitem">Monthly Tax Paid: {{this.payroll.monthlyTaxPaid}}</mat-list-item>
    </mat-list>
}