<div class="spinner-overlay">
    <mat-progress-spinner
        *ngIf="isLoading"
        mode="indeterminate" 
        color="primary"/>
</div>

<form [formGroup]="taxCalculationFormGroup">
    <mat-form-field appearance="fill">
        <mat-label>Gross Annual Salary</mat-label>
        <input 
            type="number"
            matInput 
            formControlName="salaryInputField"
            name="income"
            placeholder="Enter value"
            required />
    </mat-form-field>
    <button
        [disabled]="isLoading"
        type="submit"
        mat-raised-button
        color="primary"
        (click)="onFormSubmitCalculateTax()">
        Calculate
    </button>
</form>

<app-payroll 
    [payroll]="payrollCalculation$ | async"/>
